
.container{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    width: 100%;
}

.container > div:has(img){
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 1rem;

    width: 100%;

    gap: 1rem;
}

.container > div > img{
    height: 5.5rem;
}

.container > div:has(h2){
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    width: 100%;

    gap: 1rem;
}

.container > div > h1{
    font-size: 5rem;
}

.container > div > h2 {
    color: var(--color-primary);
}

.container > div > p{
    font-size: 1.3rem;
}
